body {
  font-family: 'Montserrat', sans-serif;
  background-color: white!important;
}
* {
  box-sizing: border-box;
}
label {
  display: inline-block;
  margin-bottom: 0!important;
}
.postButton{
  font-weight: 500!important;
  background-color: darkcyan!important;
  height: 52px!important;
  margin-top: 1px!important;
  margin-left: 5px!important;
}

.logoutButton{
    float: right;
    height: 35px;
    width: 65px;
    margin-top: 10px;
}
.discussionBox{
  width: 100%;
  height: 90px;
  background-color: #f6f5f7;
  margin-bottom: 20px;
  padding: 10px 20px 0px 30px;
}
.errmsg{
  margin-top: 5px;
  color:red;
}
.noAccText{
    font-size :14px;
    font-weight:200;
    text-align:center;
    margin-top:20px;
}

.signUp{
  cursor: pointer;
  color:darkcyan;
  text-decoration: underline!important;
  margin-left:5px
}

.discussionContainer{
  margin-top: 30px;
  padding-bottom:20px
}

.signInContainer{
  padding:148px;
}
.loginHeader{
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  margin-bottom: 25px;
  color: darkcyan;
}

.logoText{
  background-color: darkcyan;
  width: inherit;
  height:100vh
}

input[type="button"]{
  background-color: darkcyan!important;
}

.headerText{
  padding: 40px;
  text-align: center;
  font-size: 38px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}

.logoImg{
  width: 40px;
  margin: 0 0 20px 5px;
}

.tickImg{
  width: 18px;
  margin-right: 7px;
}
.features{
  margin-bottom: 10px;
  text-align: center;
}

.featureText{
  color: white;
  font-weight: 100;
}
.row{
  margin-right: 0!important;
}

.discussImg{
  width: 70%;
  margin-top: 27px;
  max-height: 270px;
  margin-left: 63px;
}
.featureContainer{
  margin-top: -24px;
}
.headerNav{
  background-color:darkcyan;
  position: fixed!important;
  right: 0;
  left: 0;
  z-index: 1000;
}

.NavText{
  color: white!important;
  font-weight: bold;

}
.navbar img{
  width: 15px;
  margin: 0px 0 11px 5px;
}
.container-fluid{
  padding-top:90px;
}

.searchBar{
  height:55px!important;
  border-radius:5px!important
}

.padding{
  padding-right: 200px!important;
  padding-left: 200px!important;
}
.commentData{
  margin-left:50px
}
.center{
  text-align:center
}
.postedComment{
  font-weight: 600;
  color: #49919e;
  font-size: 20px;
  font-family: sans-serif;
}

.postedBy{
  font-size: 10px;
}
.postedTime{
  margin-top:5px;
  font-size: 11px;
}
.avatar{
  margin-left:auto;
  margin-right:15px;
}
.avatar img{
  height: 35px;
  margin-top: 5px;
}

.cardImg{
  max-width:335px;
  min-width:50px;
}