body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f5f7!important;
}
* {
  box-sizing: border-box;
}
label {
  display: inline-block;
  margin-bottom: 0!important;
}
.postButton{
  height: 40px;
  width: 65px;
}

.logoutButton{
    float: right;
    height: 35px;
    width: 65px;
    margin-top: 10px;
}
.discussionBox{
  width: 70%;
  height: 90px;
  background-color: #f6f6f6;
  padding: 20px;
  margin-left: 13%;
  margin-bottom: 15px;
}
.errmsg{
  margin-top: 5px;
  color:red;
}
.noAccText{
    font-size :14px;
    font-weight:200;
    text-align:center;
    margin-top:20px;
}

.signUp{
  cursor: pointer;
  color:darkcyan;
  text-decoration: underline!important;
  margin-left:5px
}

.discussionContainer{
  margin-left: 40%;
  margin-top: 5%;
}

.signInContainer{
  padding:148px;
}
.loginHeader{
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  margin-bottom: 25px;
  color: darkcyan;
}

.logoText{
  background-color: darkcyan;
  width: inherit;
  height:625px
}

input[type="button"]{
  background-color: darkcyan!important;
}

.headerText{
  padding: 40px;
  text-align: center;
  font-size: 38px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}

.logoImg{
  width: 40px;
  margin: 0 0 20px 5px;
}

.tickImg{
  width: 18px;
  margin-right: 7px;
}
.features{
  margin-bottom: 10px;
  text-align: center;
}

.featureText{
  color: white;
  font-weight: 100;
}
.row{
  margin-right: 0!important;
}

.discussImg{
  width: 335px;
  margin-left: 105px;
  margin-top: 35px;
}
.featureContainer{
  margin-top: -24px;
}